<div class="content">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="name" placeholder="Enter name">

    <label for="age">Age</label>
    <input type="text" id="age" [(ngModel)]="age" placeholder="Enter age">
    
    <button (click)="add()">Add</button>
</div>

<div *ngIf="people.length; else noPeople">
    <h1>List of People</h1>
    <div *ngFor="let person of people; let i = index">
        <p>{{ person.Name }} - {{ person.Age }} years old</p>
        <button (click)="deletePerson(i)">Delete</button>
    </div>
</div>

<ng-template #noPeople>
    <i>List is empty. Kindly add a person.</i>
</ng-template>

<div [ngSwitch] = "day">
    <p *ngSwitchCase = "'Tuesday'">Its Tuesday</p>
    <p *ngSwitchCase = "'Monday'">Its Monday</p>
    <p *ngSwitchCase = "'Friday'">Its Friday</p>
    <p *ngSwitchDefault >Just a normal day</p>

</div>
<!-- 
<p [ngStyle]="{color:showredp? 'red':'green', backgroundColor:'black'}">Style me with Color Red and Black background</p> -->

<p [ngClass]="'showRed'">Style me with Color Red and Black background</p>